.lookbook {
    &__filter {
        display: flex;
        gap: 16px;
        margin-bottom: var(--space-2xs-desc);
    }
}
.lookbook-list  {
    display: flex;
    flex-direction: column;
    &__item {
        display: flex;
        margin-bottom: var(--space-s-desc);
        &:last-child {
            margin-bottom: 0;
        }

        @include maxBp($bp-768) {
            flex-direction: column;
            margin-bottom: var(--space-s-mob);
        }
    }

    &__preview {
        aspect-ratio:927/619;
        flex: 0 0 auto;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        & > picture {
            display: block;
            width: 100%;
            height: 100%;

            transform: scale(1);
            filter: opacity(100%);
            transition: var(--trans-slow);

            img {
                width:100%;
                height:100%;
                max-height:100%;
                max-width:100%;
                object-fit: cover;
            }
            
        }

        @include bp($bp-1280) {
            &:hover {
                picture {
                    transition: all 3s linear;
                    transform: scale(1.2);
                    filter: opacity(80%);
                }
            }
        }

        @include maxBp($bp-768) {
            width: 100%;
            margin-bottom: var(--space-s-mob);
        }
    }

    &__description {
        display: flex;
        flex: 1 1 auto;
        margin-left: 48px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include maxBp($bp-768) {
            margin-left: 0;
        }
    }

    &__text {
        @include text-size-12;
        color: var(--black);
        margin-bottom: var(--space-3xs-desc);

        @include maxBp($bp-768) {
            margin-bottom: var(--space-3xs-mob);
        }
    }

    &__title {
        @include text-h2;
        color: var(--black);  
        margin-bottom: var(--space-3xs-desc);

        @include maxBp($bp-768) {
            margin-bottom: var(--space-3xs-mob);
        }
    }
}


.lookbook-page {
    &__container {
        max-width: 1176px;
        margin: 0 auto;
    }
    &__preview {
        width: 100%;
        aspect-ratio: 1344/789;
        margin-bottom: var(--space-3xs-desc);
    }

    &__breads {
        display: flex;
        justify-content: center;
    }

    &__breads, &__title, &__date {
        text-align: center;
        margin-bottom: var(--space-s-desc);
    }

    &__date {
        width: 100%;
        @include text-size-10;
    }

    &__text {
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: var(--space-l-desc);
    }

    &__uno {
        aspect-ratio: 1176/1764;
        width: 100%;
        margin-bottom: var(--space-l-desc); 
    }

    &__duble {
        aspect-ratio: 1176/867;
        width: 100%;
        margin-bottom: var(--space-l-desc);

        & > .swiper {
            height: 100%;
        }
    }

    &__triple {
        aspect-ratio: 1176/572;
        width: 100%;
        margin-bottom: var(--space-l-desc);
    }
}