.header-search {
    margin-left: auto;
    display: flex;
    height: 100%;
    align-items: center;
    transition: var(--trans);
    &__btn {
        padding: 0 20px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        opacity: 1;
        transition: var(--trans-slow);
        z-index: 10;
        & > .icon-sym {
            cursor: pointer;
            width: 16px;
            height: 16px;
            @include icon-stroke;
            transition: var(--trans);
            stroke: var(--secondary-color-900);
            stroke-width: 1px;
        }

        @include bp($bp-768) {
            &:hover > .icon-sym {
                stroke-width: 2px;
            }
        }
    }

    &__area {
        position: relative;
        height: 25px;
        width: 0;
        overflow: hidden;
        transition: var(--trans);
        opacity: 0;
    }

    &__form {
        position: absolute;
        left: 0;
        width: 100%;
        display: flex;
        background-color: var(--Main-background);

        .form__line {
            width: 100%;
        }

        @include maxBp($bp-1280) {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    &.show {
        .header-search__area {
            width: 335px;
            opacity: 1;
            overflow: visible;
        }

        .header-search__btn {
            transition: var(--trans);
            opacity: 0;
            pointer-events: none;
        }
    }

    @include maxBp($bp-1280) {
        margin-right: auto;
        margin-left: 0;

        &__area {
            padding: 16px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            background: var(--Main-background);
            pointer-events: none;
        }

        &.show {
            .header-search__area {
                width: 100vw;
                top: 100%;
                pointer-events: visible;
                animation-delay: 1s;
                animation: shadowBg 1.5s forwards;
            }
            
        }
    }

    @include maxBp($bp-768) {
        &__area {
            padding: 8px 8px;
        }
    }
} 

.search-content {
    position: relative;
    &__form {
        margin-bottom: var(--space-m-desc);
    }

    &__counter {
        margin-bottom: var(--space-2xs-desc);
    }

    &__null {
        h2 {
            margin-bottom: var(--space-3xs-desc);
            @include text-h1;
        }
    }
}