.order-item {
    display: flex;
    border-bottom: 0.5px solid var(--Stroke-gray);
    margin-bottom: var(--space-xs-desc);
    position: relative;
    &__preview {
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        width: 76px;
        height: 102px;
        margin-right: 8px;
        overflow: hidden;

        img {
            object-fit: cover;
            transform: scale(1.05);
        }

        @include bp($bp-1280) {
            &:hover {
                transform: scale(1);
                filter: brightness(90%);
            }
        }
    }

    &__content {
        width: 100%;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-bottom: var(--space-4xs);

        & > a {
            @include text-size-12;
            color: var(--black);
            transition: var(--trans);
            margin-right: 8px;

            @include bp($bp-1280) {
                &:hover {
                    color: var(--Strokes-new-black);
                }
            }
        }

        & > .label {
            margin-right: 8px;
        }

        .favorite {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 14px;
            height: 14px;
            .icon-sym {
                stroke: var(--Strokes-new-black);
                width: 12px;
                height: 12px;
            }
        }
    }

    &__art {
        @include text-size-10;
        color: var(--Strokes-new);
        text-transform: uppercase;
        margin-bottom: var(--space-4xs);
    }

    &__color {
        display: flex;
        align-items: center;

        &-hex {
           display: block;
           width: 6px;
           height: 6px;
           border-radius: 100%;
           margin-right: 4px; 
        }

        &-name {
            @include text-size-12;
            color: var(--black);
        }
    }

    &__size {
        @include text-size-12;
        color: var(--black);
        margin-bottom: var(--space-4xs);
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        display: flex;
        flex-direction: column;
        &-old {
            @include text-size-10;
            color: var(--Strokes-new);
            text-decoration: line-through;
        }

        &-new {
            @include text-size-12;
            color: var(--black);
        }
    }

    &__close {
        @include icon-close;
        padding: 2px 0 2px 2px;
        right: 0;
    }
    
}