.cart-cols {
    &__order {
        @include maxBp($bp-1280) {
            width: 100%;
        }
    }
}

.cart-cols {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    &__left {
        flex: 1 1 auto;
        width: 100%;

        .order-no-pay {
            margin-bottom: var(--space-s-desc);
        }
    }

    &__right {
        flex: 0 0 auto;
        width: 383px;
        display: block;
        position: sticky;
        top: 80px;
    }

    &.form {
        .row {
            row-gap: 0;
            margin-left: -8px;
            margin-right: -8px;
        }
    }

    @include maxBp($bp-1280) {
        flex-direction: column;
        gap: 24px;

        &__right {
            width: 100%;
        }
    }

    @include maxBp($bp-768) {
        gap: 16px;
    }
}


.order-box {
    padding: 24px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 14px 0px #DEDCE9;
    &__name {
        @include text-size-16;
        color: var(--black);
        margin-bottom: var(--space-2xs-desc);

        @include maxBp($bp-768) {
            margin-bottom: var(--space-4xs);
        }
    }

    &__line {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include text-size-12;
        color: var(--black);
        margin-bottom: var(--space-3xs-desc);

        &.error {
            color: var(--Error)
        }

        span.bold {
            @include text-size-16;
        }

        span.w100 {
            text-align: end;
            @include text-size-10;
        }

        @include maxBp($bp-768) {
            margin-bottom: var(--space-3xs-desc);
        }
    }

    &__select {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;

        margin-bottom: var(--space-xs-desc);

        &-wrapper {
            width: 100%;
            margin-top: var(--space-3xs-desc);
            @include maxBp($bp-768) {
                margin-top: var(--space-3xs-desc);
            }
        }

        &-alert {
            display: block;
            margin-top: var(--space-3xs-desc);

            span.error {
                color: var(--Error);
            }

            @include maxBp($bp-768) {
                margin-top: var(--space-3xs-desc);
            }
        }

        &-input {
            position: relative;

            input {
                display: block;
                width: 100%;
                height: 100%;
                border: none;
                outline: 0;
                @include text-size-12;
                color: var(--black);
                border-bottom: 1px solid var(--Strokes-new);
                margin: 0;
                padding: 3px 20px 3px 0px;
                transition: var(--trans);
                box-shadow: none;
                overflow: auto;
                resize: none;
                background: transparent;

                &::placeholder {
                    color: var(--Strokes-new-black);
                }

                &:focus {
                    border-bottom: 1px solid var(--black);
                }
            }

            a {
                position: absolute;
                right: 0;
                top: 0;

                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 24px;
                height: 100%;

                .icon-sym {
                    fill: none;
                    stroke: var(--Stroke-bk-30);
                    transition: var(--trans);
                }

                @include bp($bp-1280) {
                    &:hover {
                        .icon-sym {
                            transform: scale(1.1);
                            stroke: var(--Strokes-new-black);
                        }
                    }
                }

            }
        }

        @include maxBp($bp-768) {
            margin-bottom: var(--space-3xs-desc);
        }
    }

    &__select-btn {
        display: inline-flex;
        flex: 1 1 auto;

        input[type=radio] {
            display: none;
        }

        label {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 2px 8px;

            border-radius: 4px;
            border: 1px solid var(--Strokes-new);
            transition: var(--trans);
            cursor: pointer;

            @include text-size-16;
            text-align: center;
            color: var(--black);
        }

        input[type=radio]:checked + label {
            border-color: var(--Strokes-new-black);
        }

        @include bp($bp-1280) {
            &:hover {
                label {
                    color: var(--Strokes-new-black);
                }

                input[type=radio]:checked + label {
                    color: var(--black);
                }
            }
        }

    }

    &__bonus-check {
        margin-bottom: var(--space-xs-desc);
        @include maxBp($bp-768) {
            margin-bottom: var(--space-3xs-desc);
        }
    }

    &__alert {
        @include text-size-10;
        color: var(--black); 
        margin-bottom: var(--space-3xs-desc);
        @include maxBp($bp-768) {
            margin-bottom: var(--space-3xs-desc);
        }
    }

    &__add-new {
        display: inline-block;
        @include text-size-10;
        color: var(--black);
        position: relative;
        margin-top: var(--space-3xs-desc);
        cursor: pointer;
        overflow: visible;
        transition: var(--trans);

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;

            background: var(--Strokes-new-black);
            position: absolute;
            left: 0;
            bottom: -1px;
            transform: translate3d(0,0,0);
            transition: var(--trans);

        }

        @include bp($bp-1280) {
            &:hover {
                &::after {
                    transition: var(--trans);
                    background: var(--black);
                    transform: translate3d(0,1px,0);
                }
            }
        }
    }

    &__link {
        width: 100%;
    }

    @include maxBp($bp-1280) {
        width: 100%;
    }

    @include maxBp($bp-768) {
        padding: 8px;
    }
}

.delivery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    &__item {
        display: flex;
        flex: 1 1 auto;
        width: calc(33.33333% - 16px);
        flex-direction: column;
        padding: 8px;

        border-radius: 4px;
        background: transparent;
        border: 1px solid var(--Strokes-new);
        cursor: pointer;
        transition: var(--trans);

        &-name {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            color: var(--black);
            margin-bottom: var(--space-3xs-desc);
        }

        &-desc {
            @include text-size-12;
            color: var(--black);
        }

        &.checked {
            background: var(--White-background);
            border-color: var(--black);
        }

        @include bp($bp-1280) {
            &:hover {
                border-color: var(--Strokes-new-black);
            }
            &.checked:hover {
                border-color: var(--black);
            }
        }
    }

    &__item-text {
        margin-top: 8px;
        padding-left: 8px;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background: #FF5569;

            position: absolute;
            left: 0;
            top: 6px;
        }
    }

    @include maxBp($bp-768) {
        flex-direction: column;
        gap: 8px;

        &__item {
            width: 100%;
        }
    }
}
