@keyframes shake {
  0%,100%{
	transform: translate3d(0,0,0);
  }
  40%,80%{
	transform: translate3d(-5px,0,0);
  }
  20%,60%{
	transform: translate3d(5px,0,0);
  }
}

@keyframes shakeText {
  0%,100%{
	text-indent: 0;
  }
  40%,80%{
	text-indent: -5px;
  }
  20%,60%{
	text-indent: 5px;
  }
}

@keyframes fadeIn {
  from {
	opacity: 0;
  }
  to {
	opacity: 1;
  }
}

@keyframes fadeOut {
  from {
	opacity: 1;
  }
  to {
	opacity: 0;
  }
}

@keyframes shadeIn {
  from {
	opacity: 0;
  }
  to {
	opacity: 1;
  }
}

@keyframes shadeOut {
  from {
	opacity: 1;
  }
  to {
	opacity: 0;
  }
}

@keyframes slideIn {
  from {
	transform:  translate3d(0,-300px,0);
  }
  to {
	transform: translate3d(0,0,0);
  }
}
@keyframes slideInMobile {
  from {
	transform:  translate3d(0,100%,0);
  }
  to {
	transform: translate3d(0,0,0);
  }
}

@keyframes slideOut {
  from {
	transform: translate3d(0,0,0);
  }
  to {
	transform: translate3d(0,-300px,0);
  }
}
@keyframes slideOutMobile {
  from {
	transform: translate3d(0,0,0);
  }
  to {
	transform: translate3d(0,100%,0);
  }
}

@keyframes slideInRight {
  from {
	transform:  translate3d(100%,0,0);
  }
  to {
	transform: translate3d(0,0,0);
  }
}
@keyframes slideOutRight {
  from {
	transform: translate3d(0,0,0);
  }
  to {
	transform: translate3d(100%,0,0);
  }
}

@keyframes fadeScale {
    from {
        opacity: 0;
        transform: scale(0.97);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scaleOut {
    from {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes topOut {
    from {
        transform: scale(1) translate3d(0,-100%,0);
    }
    to {
        transform: scale(1) translate3d(0,0,0);
    }
}

@keyframes botOut {
    from {
        transform: scale(1) translate3d(0,100%,0);
    }
    to {
        transform: scale(1) translate3d(0,0,0);
    }
}

@keyframes botOutTransparent {
    from {
        opacity: 0;
        transform: scale(1) translate3d(0,100%,0);
    }
    to {
        opacity: 1;
        transform: scale(1) translate3d(0,-40px,0);
    }
}

@keyframes shadowBg {
    from {
        box-shadow: 0px 50px 60px 5px rgba(34, 60, 80, 0.00);
    }
    to {
        box-shadow: 0px 60px 70px 5px rgba(34, 60, 80, 0.2);
    }
}




