mixin basket-list(items)
    ul.order-list
        each item, index in items
            -
                const {
                    name, 
                    url,
                    img,
                    colors,
                    hex,
                    size,
                    price,
                    price_old,
                    art,
                    label,
                } = item;
            if items
                li.order-list__count Товары:
                    !=items.length
            li.order-list__item
                +basket-item(item)