mixin grid-product(items)
    .row.row-cols-4.row-cols-s-2
        each item, index in items
            -
                const {
                    name, 
                    url,
                    picture,
                    colors,
                    price,
                    price_old,
                    label,
                    mini,
                } = item;
            .col
                +product-card(item)