mixin grid-product(items)
    .row.row--pb.row-cols-5.row-cols-xl-4.row-cols-l-5.row-cols-m-4.row-cols-s-3.row-cols-xs-2
        each item, index in items
            -
                const {
                    name, 
                    url,
                    picture,
                    colors,
                    price,
                    price_old,
                    label,
                    mini,
                } = item;
            .col
                +product-card(item)