$space-4xs: 4px;

$space-3xs: 16px;
$space-3xs-desktop: 8px;
$space-3xs-mobile: 8px;

$space-2xs: 24px;
$space-2xs-desktop: 16px;
$space-2xs-mobile: 16px;

$space-xs: 32px;
$space-xs-desktop: 24px;
$space-xs-mobile: 16px;

$space-s: 40px;
$space-s-desktop: 32px;
$space-s-mobile: 24px;

$space-m: 48px;
$space-m-desktop: 40px;
$space-m-mobile: 32px;

$space-l: 64px;
$space-l-desktop: 56px;
$space-l-mobile: 48px;

$space-xl: 100px;
$space-xl-desktop: 80px;
$space-xl-mobile: 60px;

$space-2xl: 120px;
$space-2xl-desktop: 100px;
$space-2xl-mobile: 80px;

$space-3xl: 140px;
$space-3xl-desktop: 120px;
$space-3xl-mobile: 100px;

$vh-100: 100vh;

:root {
    --space-4xs: #{$space-4xs};
    --space-3xs: #{$space-3xs};
    --space-3xs-desc: #{$space-3xs-desktop};
    --space-3xs-mob: #{$space-3xs-mobile};
    --space-2xs: #{$space-2xs};
    --space-2xs-desc: #{$space-2xs-desktop};
    --space-2xs-mob: #{$space-2xs-mobile};
    --space-xs: #{$space-xs};
    --space-xs-desc: #{$space-xs-desktop};
    --space-xs-mob: #{$space-xs-mobile};
    --space-s: #{$space-s};
    --space-s-desc: #{$space-s-desktop};
    --space-s-mob: #{$space-s-mobile};
    --space-m: #{$space-m};
    --space-m-desc: #{$space-m-desktop};
    --space-m-mob: #{$space-m-mobile};
    --space-l: #{$space-l};
    --space-l-desc: #{$space-l-desktop};
    --space-xl: #{$space-xl};
    --space-xl-desc: #{$space-xl-desktop};
    --space-2xl-desc: #{$space-2xl-desktop};
    --space-3xl-desc: #{$space-3xl-desktop};
    --vh-100: #{$vh-100};
    @include maxBp($bp-1280){
        --space-3xs: #{$space-3xs-desktop};
        --space-2xs: #{$space-2xs-desktop};
        --space-xs: #{$space-xs-desktop};
        --space-s: #{$space-s-desktop};
        --space-m: #{$space-m-desktop};
        --space-l: #{$space-l-desktop};
        --space-xl: #{$space-xl-desktop};
    }
    @include maxBp($bp-768){
        --space-3xs: #{$space-3xs-mobile};
        --space-2xs: #{$space-2xs-mobile};
        --space-xs: #{$space-xs-mobile};
        --space-s: #{$space-s-mobile};
        --space-m: #{$space-m-mobile};
        --space-l: #{$space-l-mobile};
        --space-xl: #{$space-xl-mobile};
    }
}
