.header {
    width: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 150%;
    transition: var(--trans);

    &.promo-hidden {
        top: -24px;
    }

    &__promo {
        position: relative;

        background: #fff;
        padding: 3px 0;
        max-height: 40px;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        color: var(--black);
        text-transform: uppercase;

        marquee {
            display: block;
        }
    }


    &__promo-end {
        position: absolute;
        right: 0;
        top: 0;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 61px;

        background: linear-gradient(270deg, #FDF9F4 53.95%, rgba(253, 249, 244, 0.00) 100%);
    }

    &__promo-close {
        width: 12px;
        height: 12px;
        position: relative;
        right: 16px;
        z-index: 2;
        transform: rotate(45deg);
        cursor: pointer;

        &::after, &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 1px;
            background: var(--black);
            transition: var(--trans);
        }

        &::after {
            transform: translate(-50%, -50%);
        }
        &::before {
            transform-origin: 0 0;
            transform: rotate(90deg) translate(-50%, -50%);
        }
    }



    &__bottom {
        height: 80px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-menu {
    display: flex;
    align-items: center;

    @include maxBp($bp-1024) {
        height: auto;

        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 0 16px;
        & > a {
            color: var(--black);
            font-size: 14px;
            line-height: 1.3;
            font-weight: 400;
            text-transform: uppercase;

            display: flex;
            align-items: center;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;

        width: 100%;
        padding-top: var(--space-2xs);
        padding-bottom: var(--space-m);
        background-color: var(--Main-background);
        box-shadow: 0px 16px 19px 0px rgba(104, 92, 92, 0.22);

        pointer-events: none;
        opacity: 0;

        transition-delay: .3s;
        transition: var(--trans);

        & > ul {
            display: flex;
            gap: 24px;

            & > li {
               font-size: 16px;
               font-weight: 400;
               line-height: 1.3;
               margin-bottom: var(--space-2xs); 

                ul li {
                    margin-bottom: var(--space-2xs); 
                }

                ul li a {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 1.5;
                    color: #434343;

                    position: relative;
                    transition: var(--trans);

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        opacity: 0;
                        background-color: var(--black);

                        position: absolute;
                        top: 100%;
                        left: 0;

                        transition: var(--trans);
                        pointer-events: none;
                    }

                    &:hover {
                        color: var(--black);
                        &::after {
                            height: 1px;
                            opacity: 1;
                            top: calc(100% + 3px);
                        }
                    }
                }
            }
        }
    }

    &__caption {
        display: none;
    }

    &__item--drop:hover {
        .header-menu__submenu {
            opacity: 1;
            pointer-events: visible;
        }
    }

    &__more ~ li {
        display: none;
    }

    &__more.hide ~ li {
        display: block;
    }
}

.header-menu-block,
.header-menu,
.header-menu__item {
    height: 100%;
}

.header-menu-block {
    display: flex;
    align-items: center;

    @include maxBp($bp-1024){
        position: absolute;
        bottom: 100%;
        left: 0;
        z-index: 99;
        width: 100%;
        display: block;
        overflow: auto;
        height: 100vh;

        background-color: var(--Main-background);

        transition-delay: .3s;
        transition: var(--trans);
    }
}

.header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: var(--trans);

        &--light {
            opacity: 0;
        }

        &--dark {
            opacity: 1;
        }
    }
}

.header.transparent {
    .header-logo {
        &__img {
            &--light {
                opacity: 1;
            }

            &--dark {
                opacity: 0;
            }
        }
    }
}

.header-menu-user {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
    transition: var(--trans);

    &__link > .icon-sym {
        width: 16px;
        height: 16px;
    }
}

.hamburger {
    margin-right: 40px;
    width: 16px;
    height: 16px;
    display: none;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    & span {
        position: relative;
        width: 16px;
        height: 2px;
        background: var(--black);
        display: block;
        transform-origin: center;
        transition: var(--trans);
    
        &::after, &::before {
            transition: var(--trans);
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background: var(--black);
        }
    
        &::after {
            bottom: -6px; 
        }
    
        &::before {
            top: -6px;
        }
    }

    @include maxBp($bp-1024){
        display: flex;

        &.active {

            span {
                transform: rotate(45deg);

                &::after {
                    bottom: 0px; 
                    transform: rotate(90deg);
                }
            
                &::before {
                    top: 0px;
                    transform: rotate(90deg);
                    opacity: 0;
                }
            }
            
        }
    }
}

body.menu-show {
    .header-menu-block {
        top: 100%;
    }
}