.modal {
    display: none;
    &.is-open {
        display: block;
    }

    &--overflow {
        .modal__container {
            max-width: 100%;
        }

        @include maxBp($bp-768) {
            .modal__body {
                min-height: 100%;
                overflow: auto;
                padding-bottom: 5px;

                table {
                    min-width: 100%;
                }
            }

            .modal__container {
                padding: 30px 20px;
            }
        }
    }

    &--no-content {
        .modal__header {
            margin-bottom: 0;
        }
    }

    &--cookie {
        &[aria-hidden=true] .modal__container{
            animation-name: slideOutBottom;
            @include maxBp($bp-768){
                animation-name: slideOutMobile;
            }
        }

        &[aria-hidden=false] .modal__container{
            animation-name: slideInBottom;
            @include maxBp($bp-768){
                animation-name: slideInMobile;
            }
        }

        .modal__overlay{
            align-items: flex-end;
        }

        .modal__close{
            display: none;
        }

        .modal__container {
            max-width: 100%;
        }

        .modal__body{
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 14px;
            line-height: 150%;
            @include maxBp($bp-768){
                flex-wrap: wrap;
            }
        }

        .modal__bg {
            pointer-events: none;
        }

        p{
            margin: 0;
        }

        .btn{
            min-width: 160px;
            @include maxBp($bp-500){
                width: 100%;
            }
        }
    }
}

.modal__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100vh - calc(100vh - 100%));
    overflow-x: hidden;
    overflow-y: auto;
    z-index: $zindex-modal-backdrop;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparentize($main-bg, 0.5);
    backdrop-filter: blur(2px);
    transition: background-color var(--modal-duration) var(--cubic);
    animation: {
        duration: var(--modal-duration);
        timing-function: var(--cubic);
        fill-mode: forwards;
    };
    @include maxBp($bp-768){
        align-items: flex-end;
    }
    &--block {
        display: block;
    }
}

.modal[aria-hidden='false'] .modal__overlay {
  animation-name: shadeIn;
}

.modal[aria-hidden='true'] .modal__overlay {
  animation-name: shadeOut;
}

.modal__container {
    min-width: 298px;
    max-width: 350px;
    margin: 16px auto;
    box-sizing: border-box;
    background: var(--White-background);
    border-radius: 4px;
    padding: 32px;
    box-shadow: 0px 2px 14px 0px #DEDCE9;
    @include maxBp($bp-768){
        margin: 8px 0 0 0;
        max-width: none;
        width: 100%;
        border-radius: 4px 4px 0 0;
        max-height: calc(var(--vh-100) - 10px);
        overflow: auto;
    }
    animation: {
        duration: var(--modal-duration);
        timing-function: var(--cubic);
        fill-mode: forwards;
    };
}

.modal__link {
    text-align: center;
}

.modal__content {
    margin-bottom: var(--space-xs-desc);
    p {
        margin-bottom: 27px;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
    
    @include maxBp($bp-1280) {
        margin-bottom: var(--space-xs-mob);
    }
}

*.center {
    text-align: center;
}

.modal[aria-hidden='false'] .modal__container {
    animation-name: slideIn;
    @include maxBp($bp-768){
        animation-name: slideInMobile;
    }
}

.modal[aria-hidden='true'] .modal__container {
    animation-name: slideOut;
    @include maxBp($bp-768){
        animation-name: slideOutMobile;
    }
}

.modal__header {
    @include text-size-16;
    color: var(--black);
    margin-bottom: var(--space-xs-desc);
    z-index: 5;
    top: 0;
    text-align: center;
    @include maxBp($bp-1280) {
        margin-bottom: var(--space-xs-mob);
    }
}

.modal__wrapper {
    padding: 16px 0;
    @include maxBp($bp-768) {
        padding: 4px 0;
    }
}

.modal__block {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 32px 48px;
}

.modal__close {
    @include icon-close;
    outline: none !important;
    display: inline-block;
    position: absolute;
    z-index: 5;
    top: 12px;
    right: 12px;
}

.modal__subtitle {
    @include text-size-14;
    display: block;
    margin-bottom: var(--space-2xs-mob);
}

.modal__text {
    @include text-size-12;
    margin-bottom: var(--space-xs-mob);
}

.modal__bg {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal-show {
    padding-right: var(--scroll-width);
    position: fixed !important;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .header {
        max-width: calc(100% - var(--scroll-width));
    }
}
