extends ./_layout

block content
        .error-box 
            .error-box__content
                h1 Ошибка 404:(
                span УПС, похоже эта страница не работает. Но шоппинг на этом не заканчивается! Перейди по ссылке в 
                a(href='catalog.html') каталог
                    
