extends ./_layout
include ./mixins/list/breads
include ./mixins/list/lookbook-list

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 О нас
                -
                    const breads = [
                        {
                            name: 'Главная',
                            url: 'main-transparent.html',
                        },
                        {
                            name: 'О нас',
                        },
                    ];
                +breads-list(breads)
            .section
                .text-content 
                    img(align="center"  src="images/content/about/main.png" loading="lazy")
                    h2 От классического стиля до ярких идей
                    p.text-center Основатели CHAIKA — Елизавета и Михаил Кореловы — партнеры по жизни и в работе над брендом. Каждая коллекция с новой стороны воплощает ценности сооснователей CHAIKA и девушек, которые ее выбирают — легкость, свободу, внимание к комфорту и качеству жизни.
                    div.block
                        img(align="center"  src="images/content/about/image_00.png" loading="lazy")
                        div
                            p Собственное локальное производство, запущенное в 2019 году, дает возможность непосредственно влиять на каждый этап разработки — от идеи до финальной примерки и что особенно важно, позволяет экспериментировать с новыми материалами. Мягкая шерсть ангоры, чистый хлопок, нежный к телу кашемир — ориентируясь на сезон, дизайнеры CHAIKA тщательно подбирают ткани и детально тестируют их. Выбранные материалы заслуживают отдельного внимания: они не только отвечают высоким стандартам качества, но и отличаются разнообразием составов и многогранной палитрой редких пастельных оттенков.
                            blockquote CHAIKA – российский бренд одежды, созданный в 2012 году. В его основе лежит трепетное отношение к комфорту, современные формы и светлые чистые цвета.
                    p.text-center А какие нарядные в клипах и на ковровых дорожках исполнители 2000-х! Вот на фото БритниСпирс в розовых брюках в крупную пайетку, вместе с… розовым топом и розовымибосоножками. Или образ Fergie из Black Eyed Peas (помните их песню «Where is the Love?») —на ней и золотой пояс, и объемные золотые серьги-кольца, и золотая цепочка! «Все лучшее сразу» — определенно девиз времени. Как тут устоять и не сделать целую коллекцию?
                    img.w100(align="center"  src="images/content/about/image_01.png" loading="lazy")
                    div.block
                        div
                            p Девушку, выбирающую CHAIKA, представить себе очень легко: приятный образ, улыбка на лице — она всегда находит возможность позаботиться о своем удобстве, вовремя сменив казаки на кроссовки, выбирая мягкую и пушистую шапку и свободные джинсы, в которых ей будет всегда комфортно.
                        img(align="center"  src="images/content/about/image_02.png" loading="lazy")

