extends ./_layout
include ./mixins/list/slider-card
include ./mixins/list/slider-product
include ./mixins/list/product-card

block content
        .wrapper__page.p-top-content
            .section 
                .catalog 
                    .catalog__menu 
                    .catalog__product