extends ./_layout

block content
        .wrapper__page.wrapper__page--content
            .wrapper__haed 
                h1 Покупателям 
            .section 
                .section-cols
                    .section-cols__side 
                        nav.person-menu.fade-in   
                            .person-menu__title.js-item-toggle 
                                span Размерная сетка
                                .arrow-drop
                                    span 
                                    span
                            .person-menu__list 
                                ul 
                                    li.person-menu__item    
                                        a(href="help.html") Оплата и доставка
                                    li.person-menu__item    
                                        a(href="help-refund.html") Возврат
                                    li.person-menu__item    
                                        a(href="help-question.html") Частые вопросы
                                    li.person-menu__item    
                                        a.active(href="help-size.html") Размерная сетка
                                    li.person-menu__item    
                                        a(href="help-info.html") Правовая информация
                                    li.person-menu__item    
                                        a(href="help-loyalty.html") Программа лояльности
                                    li.person-menu__item    
                                        a(href="help-cert.html") Подарочные сертификаты
                        a.person-out.person-out--desc(href="#" data-micromodal="modal-exit-lk") Выйти
                    .section-cols__content
                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Как определить размер?
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                .text-content
                                    p Сантиметровая лента должна плотно прилегать к телу, но не перетягивать его. Обхват груди измеряется по наиболее выступающим точкам, пропустив ленту под подмышечными впадинами. Обхват талии - по самой узкой части тела, проходя через самую выступающую точку живота. Обхват бедер по наиболее выступающим точкам ягодиц.
                                    p Если товары вам не подойдут, их можно легко вернуть. Подробнее по ссылке <a href="help-refund.html">о возврате</a>.

                        .text-content
                            table
                                tr 
                                    td Международный размер
                                    td XS
                                    td S
                                    td M
                                    td L
                                tr 
                                    td Российский размер
                                    td 40
                                    td 42
                                    td 44
                                    td 46
                                tr 
                                    td Обхват груди
                                    td 79-83
                                    td 84-88
                                    td 89-92
                                    td 93-96
                                tr 
                                    td Обхват талии
                                    td 58-62
                                    td 62-66
                                    td 66-70
                                    td 70-74
                                tr 
                                    td Обхват бедер
                                    td 83-87
                                    td 88-93
                                    td 94-98
                                    td 99-104
                                


                                         




