extends ./_layout

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 Покупателям 
            .section 
                .section-cols
                    .section-cols__side 
                        nav.person-menu.fade-in   
                            .person-menu__title.js-item-toggle 
                                span Оплата и доставка
                                .arrow-drop
                                    span 
                                    span
                            .person-menu__list 
                                ul 
                                    li.person-menu__item    
                                        a.active(href="help.html") Оплата и доставка
                                    li.person-menu__item    
                                        a(href="help-refund.html") Возврат
                                    li.person-menu__item    
                                        a(href="help-question.html") Частые вопросы
                                    li.person-menu__item    
                                        a(href="help-size.html") Размерная сетка
                                    li.person-menu__item    
                                        a(href="help-info.html") Правовая информация
                                    li.person-menu__item    
                                        a(href="help-loyalty.html") Программа лояльности
                                    li.person-menu__item    
                                        a(href="help-cert.html") Подарочные сертификаты
                        a.person-out.person-out--desc(href="#" data-micromodal="modal-exit-lk") Выйти
                    .section-cols__content
                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Способы оплаты
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                .text-content
                                    dl.list
                                        dt 1. Вы можете оплатить заказ одним из двух способов:
                                        dd Оплата банковской картой онлайн;
                                        dt Оплата наличными при получении или используя банковскую карту.
                                    p
                                        strong 2. К оплате принимаются карты любых банков VISA и Mastercard выпущенные в пределах РФ 
                                    p 
                                        strong 3. Вы по-прежнему можете оформить заказ на нашем сайте выбрав способ доставки «Способ доставки в другие страны», после оформления заказа с вами свяжется менеджер интернет магазина и подготовит вручную счет на оплату заказа и доставки.


                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Условия доставки по России
                                button(type="button").arrow-drop
                                    span 
                                    span 
                            .person-info__content
                                .text-content
                                    dl.list
                                        dt 1. Самовывоз из тц Авиапарк (г. Москва)
                                        dd только банковской картой на сайте;
                                    dl.list
                                        dt 2. Курьер с примеркой 490 рублей (только для г. Москва и МО)
                                        dd возможность примерки до 3 позиций
                                        dd возможность частичного выкупа
                                        dt Варианты оплаты:
                                        dd наличными или банковской картой при получении
                                    dl.list
                                        dt 3. Экспресс-доставка курьером 490 рублей (только для г. Москва)
                                        dd отправка день в день (при условии оформления заказа до 12.00 текущего дня) или на следующий день
                                        dd бесплатная доставка при покупке от 10.000 рублей
                                        dd доставка осуществляется с 11.00 до 20.00 (доступен 3-х часовой интервал)
                                        dd без возможности примерки
                                        dd без возможности частичного выкупа
                                        dt Варианты оплаты:
                                        dd только банковской картой на сайте
                                    dl.list
                                        dt 4. Курьерская доставка 490 рублей (для России и СНГ)
                                        dd бесплатная доставка при покупке от 10.000 рублей
                                        dd без возможности примерки
                                        dd без возможности частичного выкупа
                                        dt Варианты оплаты:
                                        dd только банковской картой на сайте
                                    dl.list
                                        dt 5. Доставка до ближайшего к Вам пункта выдачи СДЭК 390 рублей (для России и СНГ)
                                        dd бесплатная доставка при покупке от 10.000 рублей
                                        dd без возможности примерки
                                        dd без возможности частичного выкупа
                                        dd заказы отправляются курьерской службой СДЭК
                                        dt Варианты оплаты:
                                        dd только банковской картой на сайте
                                    dl.list
                                        dt 6. Доставка почтовой службой 390 рублей
                                        dd бесплатная доставка при покупке от 10.000 рублей
                                        dd без возможности примерки
                                        dd без возможности частичного выкупа
                                        dd заказы отправляются Почтой России
                                        dt Варианты оплаты:
                                        dd только банковской картой на сайте
                                    p ​При данном способе доставки в комментариях к заказу необходимо указать удобный Вам пункт выдачи курьерской службы СДЭК. В ином случае, отправление будет доставлено в ближайший пункт выдачи по указанному адресу в заказе.



                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Способы оплаты
                                button(type="button").arrow-drop
                                    span 
                                    span 
                            .person-info__content
                                .text-content 
                                    dl.list
                                        dt Доставка почтовой службой 1.500 рублей
                                        dd бесплатная доставка при покупке от 20.000 рублей
                                        dt Варианты оплаты:
                                        dd только банковской картой на сайте
                                    p Налоги и пошлины на покупку не включены в стоимость доставки на сайте - в каждой стране собственная система налогообложения. Обязательно уточните эту информацию в таможенной службе вашей страны.​
         

                                         




