extends ./_layout

block content
        .wrapper__page.wrapper__page--content
            .wrapper__haed 
                h1 Покупателям 
            .section 
                .section-cols
                    .section-cols__side 
                        nav.person-menu.fade-in   
                            .person-menu__title.js-item-toggle 
                                span Частые вопросы
                                .arrow-drop
                                    span 
                                    span
                            .person-menu__list 
                                ul 
                                    li.person-menu__item    
                                        a(href="help.html") Оплата и доставка
                                    li.person-menu__item    
                                        a(href="help-refund.html") Возврат
                                    li.person-menu__item    
                                        a.active(href="help-question.html") Частые вопросы
                                    li.person-menu__item    
                                        a(href="help-size.html") Размерная сетка
                                    li.person-menu__item    
                                        a(href="help-info.html") Правовая информация
                                    li.person-menu__item    
                                        a(href="help-loyalty.html") Программа лояльности
                                    li.person-menu__item    
                                        a(href="help-cert.html") Подарочные сертификаты
                        a.person-out.person-out--desc(href="#" data-micromodal="modal-exit-lk") Выйти
                    .section-cols__content
                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Возврат
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                .text-content
                                    p Обмен или возврат возможно осуществить следующими способами: <br> <strong>Самостоятельно сдать приобретаемый ранее товар в нашем корнере в универмаге Trend Island (по адресу: Москва, Ходынский бульвар, 4. Тц Авиапарк).</strong> <br> Для оформления возврата необходимо обратиться к консультанту непосредственно в нашем корнере «CHAIKA» и заполнить бланк возврата
                                    
                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Доставка
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                .text-content

                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Ассортимент
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                .text-content

                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Программа лояльности
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                .text-content

                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Размеры
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                .text-content

                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Подарочные сертификаты 
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                .text-content



                                         




