extends ./_layout

block content
        .wrapper__page.wrapper__page--content
            .wrapper__haed 
                h1 Покупателям 
            .section 
                .section-cols
                    .section-cols__side 
                        nav.person-menu.fade-in   
                            .person-menu__title.js-item-toggle 
                                span Правовая информация
                                .arrow-drop
                                    span 
                                    span
                            .person-menu__list 
                                ul 
                                    li.person-menu__item    
                                        a(href="help.html") Оплата и доставка
                                    li.person-menu__item    
                                        a(href="help-refund.html") Возврат
                                    li.person-menu__item    
                                        a(href="help-question.html") Частые вопросы
                                    li.person-menu__item    
                                        a(href="help-size.html") Размерная сетка
                                    li.person-menu__item    
                                        a.active(href="help-info.html") Правовая информация
                                    li.person-menu__item    
                                        a(href="help-loyalty.html") Программа лояльности
                                    li.person-menu__item    
                                        a(href="help-cert.html") Подарочные сертификаты
                        a.person-out.person-out--desc(href="#" data-micromodal="modal-exit-lk") Выйти
                    .section-cols__content
                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Реквизиты компании
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                .text-content
                                    p ИП Корелов Михаил Алексеевич <br> <strong>Адрес:</strong> 117042, г. Москва, Чечёрский проезд, д. 112, кв. 48 <br> <strong>ИНН:</strong> 772792848520 <br> <strong>Банк получателяs :</strong> АО «Райффайзенбанк» <br> <strong>БИК:</strong> 044525700 <br> <strong>Номер счета:</strong> 40802810300000054930 <br>  <strong>Корр. счет:</strong> 30101810200000000700
                                    
                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Оферта
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                .text-content
                                    .subtitle ПРАВОВАЯ ИНФОРМАЦИЯ
                                    .subtitle ПУБЛИЧНАЯ ОФЕРТА
                                    p Предложение о порядке продажи товаров дистанционным способом в интернет-магазине https://chaikastore.ru (в соответствие с Правилами продажи товаров дистанционным способом)
                                    dl
                                        dt Термины и определения
                                        dd 1.1 Интернет-магазин (cайт) — торговая площадка продавца, расположенная в сети интернет по адресу https://chaikastore.ru, на которой осуществляется продажа товаров дистанционным способом.
                                        dd 1.2 Заказ — оформленный на сайте https://chaikastore.ru запрос покупателя продавцу с целью заключения договора розничной купли-продажи Товаров
                                        dd 1.3 Продавец — Индивидуальный предприниматель Корелов Михаил Алексеевич (ИНН 772792848520).
                                        dd Адрес: 107023, г. Москва, улица Малая Семеновская, дом 9, строение 9, офис 6.
                                        dd 1.4 Покупатель (клиент) — посетитель сайта https://chaikastore.ru, разместивший заказ и приобретающий товары в личных целях.
                                        dd 1.5 Товар — товар, представленный для продажи на сайте https://chaikastore.ru.

                                    dl 
                                        dt 2. Общие положения
                                        dd 2.1 Настоящее предложение, информация о товаре, представленные на сайте https://chaikastore.ru, являются публичной офертой в соответствии со ст.435 и ч.2 ст.437 ГК РФ.
                                        dd 2.2 К отношениям между покупателем (клиентом) и продавцом применяются положения ГК РФ <br> о розничной купле-продаже (§ 2 глава 30), а также Закона РФ от 07.02.1992 N 2300-1 «О защите прав потребителей» и Постановления Правительства РФ от 27.09.2007 N 612 «Об утверждении Правил продажи товаров дистанционным способом» и иные правовые акты, принятые в соответствии с ними.
                                        dd 2.3 Продавец осуществляет продажу товаров через интернет-магазин любому покупателю, оформившему заказ на условиях настоящей оферты.
                                        dd 2.4 Настоящая оферта считается принятой покупателем с момента оформления первого заказа на сайте (с использованием регистрации на сайте в качестве постоянного покупателя продавца либо без таковой регистрации, в том числе при оформлении заказа через оператора).
                                        dd 2.5 Договор розничной купли-продажи считается заключенным с момента выдачи продавцом покупателю кассового или товарного чека либо иного документа, подтверждающего оплату товара.

                                    dl 
                                        dt 3. Регистрация на сайте и оформление заказа
                                        dd 3.1 Заказ может быть оформлен клиентом через оператора по телефону или самостоятельно через форму заказа на сайте.
                                        dd 3.2 Регистрация на сайте не является обязательной для оформления заказа. Покупатель может по собственному желанию пройти процедуру регистрации на сайте для доступа к дополнительным опциям личного кабинета (история и отслеживание заказов, получение сведений об акциях продавца и пр.).
                                        dd 3.3 Регистрация на сайте является согласием клиента на участие в программе лояльности. Полные правила программы лояльности и условия участия размещены на сайте https://chaikastore.ru.
                                        dd 3.4 При регистрации на сайте клиент обязуется предоставить следующую информацию о себе: фамилия, имя, отчество покупателя; адрес, по которому следует доставить товар; адрес электронной почты; контактный номер телефона; иные сведения указываются на усмотрение покупателя.
                                        dd 3.5 Продавец не несет ответственность за точность и правильность информации, предоставляемой клиентом при регистрации на сайте и/или оформлении заказа.
                                        dd 3.6 Клиент обязуется не сообщать третьим лицам свои регистрационные данные для входа в свой личный кабинет на сайте https://chaikastore.ru. В случае возникновения у клиента подозрений относительно безопасности его регистрационных данных или возможности их несанкционированного использования третьими лицами, клиент обязуется незамедлительно уведомить об этом продавца.
                                        dd 3.7 После оформления заказа клиенту предоставляется информация об ожидаемой дате передачи заказа в службу доставки. Указанная дата зависит от наличия заказанных товаров на складе продавца и времени, необходимого на обработку заказа и правил службы доставки. Ожидаемая дата передачи заказа в службу доставки сообщается покупателю по электронной почте или при звонке покупателю. При своем несогласии с планируемой датой доставки покупатель должен уведомить продавца об отмене или частичной отмене своего заказа.
                                        dd 3.8 Если товар, заказанный покупателем, отсутствует в наличии у продавца, заказ в отношении данного товара аннулируется, о чем покупатель уведомляется посредством информационного сообщения на электронную почту, указанную при регистрации, либо на телефонный номер клиента, либо звонком оператора.
                                        dd 3.9 Продавец вправе отменить заказы клиента при наличии оснований полагать, что клиент не намерен осуществить покупку товаров в связи с указанием недостоверных сведений (клиент ранее оформил и не получил другие заказы на общую сумму от 10000 рублей, клиент отказывался получать товары по размещенному заказу по причинам, не связанным с наличием недостатков в товарах, либо клиент отсутствовал по адресу доставки, либо не отвечал на звонки службы доставки и прочее)



                                         




