extends ./_layout

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 Покупателям 
            .section 
                .section-cols
                    .section-cols__side 
                        nav.person-menu.fade-in   
                            .person-menu__title.js-item-toggle 
                                span Оплата и доставка
                                .arrow-drop
                                    span 
                                    span
                            .person-menu__list 
                                ul 
                                    li.person-menu__item    
                                        a(href="help.html") Оплата и доставка
                                    li.person-menu__item    
                                        a.active(href="helf-refund.html") Возврат
                                    li.person-menu__item    
                                        a(href="help-question.html") Частые вопросы
                                    li.person-menu__item    
                                        a(href="help-size.html") Размерная сетка
                                    li.person-menu__item    
                                        a(href="help-info.html") Правовая информация
                                    li.person-menu__item    
                                        a(href="help-loyalty.html") Программа лояльности
                                    li.person-menu__item    
                                        a(href="help-cert.html") Подарочные сертификаты
                        a.person-out.person-out--desc(href="#" data-micromodal="modal-exit-lk") Выйти
                    .section-cols__content
                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Как оформить обмен или возврат
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                .text-content
                                    p Обмен или возврат возможно осуществить следующими способами: <br> <strong>Самостоятельно сдать приобретаемый ранее товар в нашем корнере в универмаге Trend Island (по адресу: Москва, Ходынский бульвар, 4. Тц Авиапарк).</strong> <br> Для оформления возврата необходимо обратиться к консультанту непосредственно в нашем корнере «CHAIKA» и заполнить бланк возврата

                        .question-block     
                            span Если у вас есть вопросы по оформлению обмена или возврата, свяжитесь с нами любым удобным для вас способом:
                            .question-block__links 
                                a(href="tel:+79660202723")
                                    +icon-sym('Call')
                                    | +7 (966) 020-27-23  
                                a(href="mailto:mail@chaikastore.ru") 
                                    +icon-sym('Message')
                                    | mail@chaikastore.ru



                                         




