extends ./_layout

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 Покупателям 
            .section 
                .section-cols
                    .section-cols__side 
                        nav.person-menu.fade-in   
                            .person-menu__title.js-item-toggle 
                                span Оплата и доставка
                                .arrow-drop
                                    span 
                                    span
                            .person-menu__list 
                                ul 
                                    li.person-menu__item    
                                        a(href="help.html") Оплата и доставка
                                    li.person-menu__item    
                                        a(href="help-refund.html") Возврат
                                    li.person-menu__item    
                                        a(href="help-question.html") Частые вопросы
                                    li.person-menu__item    
                                        a(href="help-size.html") Размерная сетка
                                    li.person-menu__item    
                                        a(href="help-info.html") Правовая информация
                                    li.person-menu__item    
                                        a(href="help-loyalty.html") Программа лояльности
                                    li.person-menu__item    
                                        a.active(href="help-cert.html") Подарочные сертификаты
                        a.person-out.person-out--desc(href="#" data-micromodal="modal-exit-lk") Выйти
                    .section-cols__content
                        .person-info.fade-in 
                            .text-content.w755 
                                .title-block
                                    .title-block__item 
                                        .subtitle Подарочный сертификат не суммируется с промокодом

                                .title-block
                                    .title-block__item 
                                        h3 1
                                        span Начисляются в личном кабинете
                                    .title-block__item 
                                        h3 2
                                        span Можно в личном кабинете
                                    .title-block__item 
                                        h3 3
                                        span Можно в личном кабинете

                                p Срок действия подарочного сертификата 12 месяцев.
                                p При выборе подарка на сумму, меньшую номинала, выплата разницы между номиналом сертификата и стоимостью покупки в денежном эквиваленте не производится
                                p Подарочный сертификат не подлежит возврату и обмену на денежные средства
                                p Подарочный сертификат не подлежит восстановлению в случае его повреждения или утраты, сумма номинала сертификата в таких случаях не компенсируется
                                p Промокод применим вместе с бонусами на товары. Бонусы и промокоды работаю на товары без скидок, на доставку не распространяется

                                .title-block
                                    .title-block__item 
                                        h3 1
                                        span Получателю нужно активировать код через личный кабинет
                                    .title-block__item 
                                        h3 2
                                        span Сертификат действует в течение   одного года после покупки
                                    .title-block__item 
                                        h3 3
                                        span Остаток не сгорает и его можно использовать при следующих заказах

                                a.btn.btn--primary(href="lk-cert-you.html") Купить подарочный сертификат
                                
                            .person-info.fade-in 
                                .person-info__header.js-item-toggle  
                                    .person-info__title Если я хочу совершить покупку на 2500 рублей, а у меня карта номиналом 3000, могу ли я получить остаток наличными?
                                    button(type="button").arrow-drop
                                        span 
                                        span
                                .person-info__content
                                    .text-content

                            .person-info.fade-in 
                                .person-info__header.js-item-toggle  
                                    .person-info__title Могу ли я передать другому человеку Электронную Подарочную карту, которую подарили мне?
                                    button(type="button").arrow-drop
                                        span 
                                        span
                                .person-info__content
                                    .text-content
                            
                            .person-info.fade-in 
                                .person-info__header.js-item-toggle  
                                    .person-info__title Есть ли ограничение по количеству применённых подарочных карт в одном заказе?
                                    button(type="button").arrow-drop
                                        span 
                                        span
                                .person-info__content
                                    .text-content






                                         




