extends ./_layout
include ./mixins/list/pages

block content

    div(class="wrapper__page article__top")

        h1 Страницы

        -
            const pages = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Карточка товара',
                    url: 'product-card.html',
                },
                {
                    name: 'Каталог',
                    url: 'catalog.html',
                },
                {
                    name: 'Каталог с активным подразделом',
                    url: 'catalog-active.html',
                },
                {
                    name: 'Корзина',
                    url: 'cart.html',
                },
                {
                    name: 'Оформление заказа',
                    url: 'order.html',
                },
                {
                    name: '404',
                    url: '404.html',
                },
                {
                    name: 'Результат поиска',
                    url: 'search.html',
                },
                {
                    name: 'Поиск - ничего не нашлось',
                    url: 'search-null.html',
                },
            ];
        +pages-list(pages)
