extends ./_layout
include ./mixins/list/pages

block content

    div(class="wrapper__page article__top")

        h1 Страницы

        -
            const pages = [
              {
                  name: 'Главная',
                  url: 'main.html',
              },
                {
                  name: 'Карточка товара',
                  url: 'product-card.html',
              },
                {
                  name: 'Каталог',
                  url: 'catalog.html',
              },
                {
                  name: 'Корзина',
                  url: 'main.html',
              },
            ];
        +pages-list(pages)
