extends ./_layout

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 Подарочный сертификат
            .section 
                form.form.js-form-validate.cart-cols
                    .cart-cols__left
                        .person-order-refund
                            a.person-order-refund__link.active(href='lk-cert-me.html') Для себя
                            a.person-order-refund__link(href='lk-cert-you.html') В подарок
                        .form__wrapper
                            h3.form__subtitle Ваши данные
                            .form__line 
                                label.form__label
                                    input.form__input(type="text" class="form__input" required)
                                    span.form__ph Фамилия
                            .form__line 
                                label.form__label
                                    input.form__input(type="text" class="form__input" required)
                                    span.form__ph Имя
                            .form__line 
                                label.form__label
                                    input.form__input(type="text" name="phone" inputmode="phone" class="form__input" required)
                                    span.form__ph Телефон
                            .form__line 
                                label.form__label
                                    input.form__input(type="email" inputmode="email" class="form__input" required)
                                    span.form__ph E-mail 
                        .form__wrapper
                            h3.form__subtitle Номинал сертификата
                            .form__line 
                                .select-list
                                    label.select-list__item
                                        input(type="radio" name="denomination")
                                        span 5 000 ₽
                                    label.select-list__item
                                        input(type="radio" name="denomination")
                                        span 7 000 ₽
                                    label.select-list__item
                                        input(type="radio" name="denomination")
                                        span 10 000 ₽
                                    label.select-list__item
                                        input(type="radio" name="denomination")
                                        span 15 000 ₽
                        .form__wrapper
                            h3.form__subtitle Подпись
                            .form__line 
                                label.form__label
                                    input.form__input(type="text" class="form__input" required)
                                    span.form__ph Кому
                            .form__line 
                                label.form__label.form__label--textarea
                                    textarea(class="form__input js-textarea" max="500" style="height:24px;overflow-y:hidden;")
                                    span.form__ph Поздравление или сообщение
                                span.form__text 
                                    | Осталось символов:
                                    span.symbol-counter
                            .form__line 
                                label.form__label
                                    input.form__input(type="text" class="form__input" required)
                                    span.form__ph Подпись, от кого


                    .cart-cols__right
                        .order-box
                            .order-box__name
                                | Ваш сертификат
                            .order-box__line
                                span Итого
                                span.bold 99 999 ₽
                            .order-box__line
                                label.input-checkbox
                                    input(type="checkbox")
                                    span.input-checkbox__text 
                                        | Отправляя сообщение, вы соглашаетесь на обработку и хранение персональных данных в соответствии c
                                        a(href="policy.html") политикой конфиденциальности
                                        +icon-sym('check')
                            button.btn.btn--primary.order-box__link(type='submit') Перейти к оплате
                            a(href="#") Условия использования электронного сертификата