extends ./_layout
include ./mixins/list/basket-prod
include ./mixins/list/basket-list
 

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 Личный кабинет 
            .section 
                .section-cols
                    .section-cols__side 
                        nav.person-menu.fade-in   
                            .person-menu__title.js-item-toggle 
                                span Мои заказы и возвраты
                                .arrow-drop
                                    span 
                                    span
                            .person-menu__list 
                                ul 
                                    li.person-menu__item    
                                        a(href="lk.html") Мои данные
                                    li.person-menu__item    
                                        a.active(href="lk-orders.html") Мои заказы и возвраты
                                    li.person-menu__item    
                                        a(href="lk-favorite.html") Избранное
                                    li.person-menu__item    
                                        a(href="cart.html") Корзина
                                    li.person-menu__item    
                                        a(href="lk-bonus.html") Бонусные баллы
                                    li.person-menu__item    
                                        a(href="lk-cert.html") Подарочные сертификаты
                        a.person-out.person-out--desc(href="#" data-micromodal="modal-exit-lk") Выйти
                    .section-cols__content
                        .order-details  
                            a.order-details__back(href='lk-orders.html') Назад
                            .order-details__header  
                                .order-details__number
                                    span Ваш заказ № 145654545654  
                                    span.order-status Доставка
                                .order-details__date от 15.05.2022 
                            .order-delivery 
                                .order-delivery__status
                                    | Заказ отменен
                                 
                                a(href="#" data-micromodal="modal-order-cancel") Отменить
                            dl.order-details__field   
                                dt.order-details__subtitle О покупателе:
                                dd Воронцова Алина, +7 (960) 988 98 98, login@gmail.com
                            dl.order-details__field   
                                dt.order-details__subtitle О заказе:
                                dd 3 товара, оплата на сайте, без примерки
                            dl.order-details__field   
                                dt.order-details__subtitle Доставка:
                                dd Воронцова Алина, +7 (960) 988 98 98, login@gmail.com
                            dl.order-details__field   
                                dt.order-details__subtitle Доставка:
                                dd Россия, г. Сочи, Адлерский район, ул. Цветочная, д. 15
                                dd Почта России
                                dd 19 ноября - 22 ноября
                            dl.order-details__field   
                                dt.order-details__subtitle Стоимость:
                                dd Доставка: 490 ₽  
                                dd Скидка: 500 ₽  
                                dd Итого: 24 500 ₽  
                            .order-details-list.fade-in 
                                .order-details-list__header.js-item-toggle  
                                    .order-details-list__name Товары в заказе: <span>3</span>
                                    button(type="button").arrow-drop
                                        span 
                                        span
                                .order-details-list__content
                                    -
                                        const basketProducts = [
                                            {   
                                                order: true,
                                                name: 'Свитер молочного цвета с высоким воротом',
                                                url: 'product-card.html',
                                                img: 'images/content/products/item-prod_00.jpg',
                                                art: 'BR-449',
                                                hex: '#D81329',
                                                color: 'Насыщенный красный',
                                                size: 'XS',
                                                label: 'Sale',
                                                price_old: '99 999 ₽',
                                                price_new : '9 999 ₽',
                                            },
                                            {
                                                order: true,
                                                name: 'Платье миди бирюзового цвета',
                                                url: 'product-card.html',
                                                img: 'images/content/products/item-prod_02.jpg',
                                                art: 'BR-449',
                                                hex: '#74BDB4',
                                                color: 'Бирюзовый',
                                                size: 'XS',
                                                price_new: '9 999 ₽',
                                            },
                                            {
                                                order: true,
                                                name: 'Свитер молочного цвета',
                                                url: 'product-card.html',
                                                img: 'images/content/products/item-prod_03.jpg',
                                                art: 'BR-449',
                                                hex: '#DED2C6',
                                                color: 'Молочный',
                                                size: 'XS',
                                                price_new: '19 999 ₽',
                                            },
                                        ];
                                    +basket-list(basketProducts) 
                    a.person-out.person-out--mob(href="#" data-micromodal="modal-exit-lk") Выйти                
                            
                            
                            