extends ./_layout

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 Личный кабинет 
            .section 
                .section-cols
                    .section-cols__side 
                        nav.person-menu.fade-in   
                            .person-menu__title.js-item-toggle 
                                span Мои данные
                                .arrow-drop
                                    span 
                                    span
                            .person-menu__list 
                                ul 
                                    li.person-menu__item    
                                        a.active(href="lk.html") Мои данные
                                    li.person-menu__item    
                                        a(href="lk-orders.html") Мои заказы и возвраты
                                    li.person-menu__item    
                                        a(href="lk-favorite.html") Избранное
                                    li.person-menu__item    
                                        a(href="cart .html") Корзина
                                    li.person-menu__item    
                                        a(href="lk-bonus.html") Бонусные баллы
                                    li.person-menu__item    
                                        a(href="lk-cert.html") Подарочные сертификаты
                        a.person-out.person-out--desc(href="#" data-micromodal="modal-exit-lk") Выйти
                    .section-cols__content
                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Мои данные 
                                button(type="button").arrow-drop
                                    span 
                                    span
                            .person-info__content
                                form.form.js-form-validate
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="text" value="" class="form__input" required)
                                            span.form__ph Фамилия
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="text" value="" class="form__input" required)
                                            span.form__ph Имя
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="text" value="" class="form__input" required)
                                            span.form__ph Дата рождения
                                            span.form__input-icon
                                                +icon-sym('pencil')
                                    .form__footer
                                        button.btn.btn--secondary.person-info__btn(type='submit') Сохранить
                                        .person-info__change
                                            | Изменения внесены
                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Контактная информация
                                button(type="button").arrow-drop
                                    span 
                                    span 
                            .person-info__content
                                form.form.js-form-validate
                                    .form__line 
                                        label.form__label 
                                            input.form__input.js-input-format-phone(type="text" value="" name="phone" inputmode="tel" class="form__input" required)
                                            span.form__ph Телефон
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="email" value="" inputmode="email" class="form__input" required)
                                            span.form__ph E-mail
                                            span.form__input-icon
                                                +icon-sym('pencil')
                                    .form__line 
                                        label.form__label
                                            input.form__input(type="password" class="form__input" required)
                                            span.form__ph Пароль
                                            span.form__input-icon.js-pass-view 
                                                +icon-sym('view')
                                                +icon-sym('no-view')
                                    .form__footer
                                        button.btn.btn--secondary.person-info__btn(type='submit') Сохранить
                                        .person-info__change
                                            | Изменения внесены
                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Адрес доставки
                                button(type="button").arrow-drop
                                    span 
                                    span 
                            .person-info__content
                                .address-field
                                    .address-field__item 
                                        span 656000, Алтайский край, г. Барнаул, пр. Ленина, 63, кв. 3
                                        .address-field__pagination 
                                            a(data-micromodal="modal-delet-address") 
                                                +icon-sym('bucket')
                                            a(data-micromodal="modal-delet-address") 
                                                +icon-sym('pencil')
                                    .address-field__item 
                                        span 656000, Алтайский край, г. Барнаул, пр. Ленина, 63, кв. 3
                                        .address-field__pagination 
                                            a(data-micromodal="modal-delet-address") 
                                                +icon-sym('bucket')
                                            a(data-micromodal="modal-delet-address") 
                                                +icon-sym('pencil')
                                button(type="button").btn.btn--secondary.person-info__btn Добавить   
                        .person-info.fade-in 
                            .person-info__header.js-item-toggle  
                                .person-info__title Управление подписками
                                button(type="button").arrow-drop
                                    span 
                                    span 
                            .person-info__content
                                .person-info__subscribe
                                    label.input-checkbox
                                        input(type="checkbox")
                                        span.input-checkbox__text Ежедневно на почту
                                            +icon-sym('check')
                                    label.input-checkbox
                                        input(type="checkbox")
                                        span.input-checkbox__text По смс
                                            +icon-sym('check')
                    a.person-out.person-out--mob(href="#" data-micromodal="modal-exit-lk") Выйти

         

                                         




