extends ./_layout
include ./mixins/list/breads
include ./mixins/list/lookbook-list

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 Лукбук
                -
                    const breads = [
                        {
                            name: 'Главная',
                            url: 'main-transparent.html',
                        },
                        {
                            name: 'Лукбук',
                        },
                    ];
                +breads-list(breads)
            .section.lookbook 
                .lookbook__filter 
                    div(class="form-sort")
                        div(class="form-sort__item")
                            | Выберите сезон:
                            div(class="js-select form-select")
                                select
                                    option Осень
                                    option Весна
                                    option Зима
                                    option Лето
                                    option Все сезоны
                        div(class="form-sort__item")
                                | Выберите год:
                                div(class="js-select form-select")
                                    select
                                        option 2010
                                        option 2020
                                        option 2021
                                        option 2023
                                        option За все время
                -
                    const lookbookItems = [
                        {
                            name: '92 DAYS OF SUMMER',
                            url: 'lookbook-detail.html',
                            picture: {
                                big: 'images/content/lookbook/item_04.png',
                                small: 'images/content/lookbook/item_04.png'
                            },
                            text: '28.06.2022',
                        },
                        {
                            name: 'Party 00’s',
                            url: 'lookbook-detail.html',
                            picture: {
                                big: 'images/content/lookbook/item_02.png',
                                small: 'images/content/lookbook/item_02.png'
                            },
                            text: '28.06.2022',
                        },
                        {
                            name: 'Textured feel lookbook',
                            url: 'lookbook-detail.html',
                            picture: {
                                big: 'images/content/lookbook/item_05.png',
                                small: 'images/content/lookbook/item_05.png'
                            },
                            text: '28.06.2022',
                        },
                        {
                            name: 'New year lookbook',
                            url: 'lookbook-detail.html',
                            picture: {
                                big: 'images/content/lookbook/item_03.png',
                                small: 'images/content/lookbook/item_03.png'
                            },
                            text: '28.06.2022',
                        }
                    ]
                +lookbook-list(lookbookItems)