extends ./_layout
include ./mixins/list/slider-main

block content
    .wrapper__parlax
        .wrapper__page
            -
                const sliderMain = [    
                    {
                        name: 'Весенняя коллекция',
                        url: 'catalog-category.html',
                        picture: {
                            big: 'images/content/banners/main_0.png',
                            small: 'images/content/banners/main_0.png'
                        },
                    },
                    {
                        name: 'Последние Тренды',
                        url: 'catalog-category.html',
                        picture: {
                            big: 'images/content/banners/main_1.png',
                            small: 'images/content/banners/main_1.png'
                        },
                    },
                ];
            +slider-main(sliderMain)
