extends ./_layout
include ./mixins/list/breads

block content
        .wrapper__page.p-top-content
            .wrapper__haed 
                h1 Оформление заказа
                -
                    const breads = [
                        {
                            name: 'Главная',
                            url: 'main-transparent.html',
                        },
                        {
                            name: 'Корзина',
                            url: 'cart.html',
                        },
                        {
                            name: 'Заказ оформлен',
                        },
                    ];
                +breads-list(breads)
            .section
                .thanks-page 
                    h3  Благодарим вас за заказ! Ваш заказ <a href='/'>№ 654654</a> успешно оформлен
                    .thanks-page__alert
                        span Все детали заказа и его статус будут отправлены на указанную электронную почту и в смс-уведомлении.
                        span Так же вы можете <a href='/'>авторизоваться</a> и следить за статусом заказа через личный кабинет.