button {
    text-align: center;
    overflow: hidden;
    outline: none !important;
    box-shadow: none;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;

    vertical-align: middle;
    white-space: nowrap;

    border-radius: 4px;
    background: var(--beige);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);

    text-align: center;
    overflow: hidden;
    outline: none !important;
    box-shadow: none;
    max-width: 100%;
    text-overflow: ellipsis;

    cursor: pointer;
    transition: var(--trans);

    @include bp($bp-1280) {
        &:hover {
            background: #CBBCAA;
            color: var(--black);
        }
    }

    @include maxBp($bp-768) {
        &--primary {
            padding: 7px 16px;
            @include text-size-14;
        }
    }

    &--primary {
        @include text-size-16;
        padding: 8px 16px;

        color: var(--black);

        &:active {
            background: var(--beige);
            color: var(--black);
        }

        &.disable {
            pointer-events: none;
            background: var(--light-grey);
            color: var(--Strokes-new-black);
        }
    }

    &--light-l {
        @include text-size-16;
        padding: 8px 16px;
        background: #CBBCAA;
        color: var(--black);

        &:active {
            background: var(--beige);
            color: var(--black);
        }

        @include bp($bp-1280) {
            &:hover {
                background: var(--beige);
            }
        }
    }

    &--light-m {
        padding: 4px 16px;  
        @include text-size-12;
        background: #CBBCAA;
        color: var(--black);

        &:active {
            background: var(--beige);
            color: var(--black);
        }

        @include bp($bp-1280) {
            &:hover {
                background: var(--beige);
            }
        }
    }

    &--secondary {
        padding: 4px 16px;  
        @include text-size-12;

        &:active {
            background: var(--Beige);
            color: var(--black);
        }
    }
}

