.slider-product {
    padding-bottom: var(--space-2xs);

    &__wrapper {
        align-items: stretch;
    }

    &__item {
        height: auto;

        .product-card {
            height: 100%;
        }
    }
}