.slider-product {
    padding-bottom: var(--space-xs-desc);

    &__wrapper {
        align-items: stretch;
    }

    &__item {
        height: auto;
        width: 288px;

        .product-card {
            height: 100%;
        }
    }

    & > .slider-product__scrollbar {
        width: calc(100% - 48px);
        left: 0;
        bottom: 1px;
        height: 1px;
        opacity: 1;
        background: #D9D9D9;

        .swiper-scrollbar-drag {
            height: 2px;
            background: var(--black);
            top: -50%;
            cursor: pointer;
        }

        @include maxBp($bp-1280) {
            width: calc(100% - 16px);
        }

        @include maxBp($bp-768) {
            width: calc(100% - 8px);
        }
    }

    @include maxBp($bp-768) {
        padding-bottom: var(--space-xs-mob);
    }
}