.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__label {
        position: absolute;
        top: 12px;
        left: 12px;

        padding: 2px 8px;

        border-radius: 4px;
        opacity: 0.5;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2px);

        @include text-size-12;
        z-index: 2;
    }

    &__favorite {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    &__preview {
        width: 100%;
        height: 432px;
        margin-bottom: var(--space-3xs-desc);
        position: relative;
        overflow: hidden;

        &.mini {
            height: 385px;
            @include maxBp($bp-1280) {
                min-height: 242px;
                height: 30vw;
                max-height: 350px;
            }

            @include maxBp($bp-768) {
                height: 42vw;
            }

            @include maxBp($bp-500) {
                height: 62vw;
            }
        }

        @include maxBp($bp-768) {
            min-height: 385px;
            height: 100vw;
        }
    }

    &__gallery__item {
        flex: 1 1 auto;
        height: 100%;
        position: relative;

        &::after {
           content: '';
           display: block;
           width: calc(100% - 2px);
           height: 2px;

           border-radius: 8px;
           opacity: 0.5;
           background: var(--White-background);
           transition: var(--trans);

           position: absolute;
           bottom: 3px;
           left: 50%;
           transform: translateX(-50%); 

            @include maxBp($bp-1280) {
                display: none;
            }
        }

        &.active {
            &::after {
                opacity: 1;
            }
        }
    }

    &__gallery {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        transition: var(--trans);

        @include bp($bp-1280) {
            &:hover {
                transition: var(--trans);
                filter: brightness(95%);
                -webkit-filter: brightness(95%);
            }
        }
    }

    &__name {
        max-width: 250px;
        text-align: center;
        @include text-size-12;
        margin-bottom: var(--space-4xs);
    }

    &__colors {
        margin-top: auto;
        display: flex;
        align-items: center;
        height: 18px;
        gap: 4px;

        margin-bottom: var(--space-4xs);
        color: var(--Stroke-bk-30);
        max-width: 55px;
        overflow: hidden;
        transition: var(--trans);
    }

    &__colors-item {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        flex: 0 0 auto;

        border: 1px solid var(--light-grey);
        transition: var(--trans);
        cursor: pointer;

        &.active {
            border-color: var(--dark);
        }

        &:nth-child(n+4) {
            opacity: 0;
        }
    }

    &__more {
        flex: 0 0 auto;
        width: 16px;
        transform: scale(1);
        opacity: 1;
        transition: var(--trans);
        span {
            color: var(--Stroke-bk-30);
            @include text-size-12;
            cursor: pointer;
        }

        @include bp($bp-1280) {
            &:hover {
                span {
                    color: var(--Strokes-new-black);
                }
            }
        }
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 8px;

        @include text-size-12;

        s {
            @include text-size-10;
            color: var(--Stroke-bk-30);
        }
    }

    &__colors.open {
        max-width: 99px;
        .product-card__more {
            display: none;
            transform: scale(0);
            width: 0;
            height: 0;
            opacity: 0;
        }

        .product-card__colors-item:nth-child(n+4) {
            opacity: 1;
        }
    }
}