.breads {
    display: flex;
    align-items: center;
    padding: 1px 0;

    &__item {
        padding-left: 25px;
        position: relative;

        @include text-size-10;
        color: var(--dark-grey);
        &::after {
            content: '';
            display: block;
            width: 7px;
            height: 1px;
            background: var(--medium-grey);

            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate3dd(-50%,0,0);
        }

        a {
            color: var(--medium-grey);
            @include bp($bp-768) {
                &:hover {
                    border-bottom: 1px solid var(--medium-grey);
                }
            }
        }

        &:first-child {
            padding-left: 0;
            margin-left: 0;
            &::after {
                display: none;
            }
        }
    }

    &__item.chapter {
        padding-left: 15px;
        &::after {
            left: 0;
        }
    }

    
    @include maxBp($bp-768) {
        display: none;
    }
}

.arrow-drop {
    position: relative;
    cursor: pointer;
    width: 13px;
    height: 13px;
    transition: var(--trans);
    span {
        display: block;
        width: 7px;
        height: 1px;
        background: var(--black);
        position: absolute;
        top: 55%;
        left: 50%;
        transition: var(--trans);

        &:nth-child(1) {
            transform: translate(calc(-75%),-50%) rotate(45deg);
        }

        &:nth-child(2) {
            transform: translate(calc(-25% + 1px),-50%) rotate(-45deg);
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                transform: translate(calc(-75% - 1px),-50%) rotate(-45deg);
            }

            &:nth-child(2) {
                transform: translate(calc(-25% + 1px),-50%) rotate(45deg);
            }
        }

    }
}

.drop-box-selector {
    position: relative;
    min-width: 98px;
    transition: var(--trans);
    &__result {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3px;

        @include text-size-10;
        color: var(--black);
        cursor: pointer;

        width: 100%;
        transition: var(--trans);

        @include bp($bp-1280) {
            &:hover {
                color: var(--Strokes-new-black);

                .arrow-drop {
                    transform: scale(1.2);
                    span {
                       background: var(--Strokes-new-black); 
                    }
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.70);

        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 10;

        opacity: 0;
        pointer-events: none;
        transition: var(--trans);
    }

    &__item {
        padding: 6px 4px;
        @include text-size-10;
        color: var(--black);
        transition: var(--trans);
        cursor: pointer;

        &:first-child {
            padding-top: 2px;
        }

        &:last-child {
            padding-bottom: 2px;
        }

        @include bp($bp-1280) {
            &:hover {
                background-color: var(--White-background);
            }
        }
    }

    &__name {
        display: block;
    }

    &.open {
        .drop-box-selector__list {
            opacity: 1;
            pointer-events: visible;
        }

        .arrow-drop {
            span {
                &:nth-child(1) {
                    transform: translate(calc(-75%),-50%) rotate(-45deg);
                }
        
                &:nth-child(2) {
                    transform: translate(calc(-25% + 1px),-50%) rotate(45deg);
                }
            }
        }
    }
}

.error-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__content {
        max-width: 457px;
        text-align: center;

        h1 {
            margin-bottom: var(--space-2xs-desc);
        }

        a {
            text-decoration: underline;
        }
    }
}

.counter {
    display: flex;
    height: 18px;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 100%;
        position: relative;
        cursor: pointer;

        &::after,  &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 50%;
            width: 6px;
            height: 1px;
            background: var(--black);
            transition: var(--trans);
        }

        &::after {
            transform: translate3d(-50%,-50%,0) rotate(0deg);
        }

        &::before {
            transform: translate3d(-50%,-50%,0) rotate(90deg);
        }

        &--down {
            &::before {
                display: none;
            }
        }

        &.disable {
            &::after {
                background: var(--Stroke-bk-30);
                pointer-events: none;
            }
        }

        // @include bp($bp-1280) {
        //     &:hover {
        //         &::before, &::after {
                    
        //         }
        //     }
        // }
    }

    &__input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 100%;
        padding: 0;

        @include text-size-12;
        color: var(--black);
        text-align: center;

        border: none;
        outline: 0;
        margin: 0;
        transition: var(--trans);
        box-shadow: none;
        overflow: auto;
        resize: none;
        background: transparent;
    }
}

.sign-in-alert {
    @include text-size-16;
    a {
        text-decoration: underline;
    }
}

.thanks-page {
    h3 {
        @include text-size-16;
        margin-bottom: var(--space-s-desc);
    }

    a {
        text-decoration: underline;
    }

    &__alert {
        display: inline-block;
        max-width: 504px;
        background-color: var(--White-background);
        padding: 4px 8px;

        span {
            display: block;
            margin-bottom: 4px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}



.order-no-pay {
    &__error {
        margin-bottom: var(--space-xs-desc);
        @include text-size-16;
        color: var(--Error);
    }

    &__text {
       padding: 4px 8px;
       background-color: var(--White-background); 
       @include text-size-12;
    }

    a {
        text-decoration: underline;
    }
}















.index-pages-header {
    font-weight: 400;
    margin-bottom: 20px;
}


.index-pages-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 30px;

    & > li {
        margin-bottom: 12px;
        @include text-h3;
        position: relative;
        font-weight: 300;

        &::after {
            content: '';
            display: block;
            width: 0%;
            height: 1px;
            background: var(--black);

            position: absolute;
            bottom: -2px;
            left: 0;
            transition: var(--trans);
        }

        @include bp($bp-1280) {
            &:hover {
                &::after {
                    width: 20%;
                }
            }
        }
    }
}