.breads {
    display: flex;
    align-items: center;
    padding: 1px 0;

    &__item {
        padding-left: 25px;
        position: relative;

        @include text-size-10;
        color: var(--dark-grey);
        &::after {
            content: '';
            display: block;
            width: 7px;
            height: 1px;
            background: var(--medium-grey);

            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate3dd(-50%,0,0);
        }

        a {
            color: var(--medium-grey);
            @include bp($bp-1280) {
                &:hover {
                    border-bottom: 1px solid var(--medium-grey);
                }
            }
        }

        &:first-child {
            padding-left: 0;
            margin-left: 0;
            &::after {
                display: none;
            }
        }
    }

    &__item.chapter {
        padding-left: 15px;
        &::after {
            left: 0;
        }
    }

    
    @include maxBp($bp-768) {
        display: none;
    }
}

.arrow-drop {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 7px;
    height: 7px;
    transition: var(--trans);
    transform: rotate(-45deg);
    bottom: 2px;
    
    span {
        display: inline-block;
        background: var(--black);
        position: absolute;
        transition: var(--trans);

        &:first-of-type {
            // transform-origin: 0px 0px;
            height: 7px;
            width: 1px;
            left: 0;
            top: 0;
            bottom: 0;
        }

        &:last-of-type {
            // transform-origin: 100% 0px;
            bottom: 0;
            left: 0;
            right: 0;
            width: 7px;
            height: 1px;
        }
    }

    &.active {
        &:first-child {
            rotate: 90deg;
        }

        &:last-child {
            rotate: 90deg;
        }

    }
}

.drop-box-selector {
    position: relative;
    transition: var(--trans);
    &__result {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        width: 100%;
        transition: var(--trans);

        @include bp($bp-1280) {
            &:hover {
                color: var(--Strokes-new-black);
                .arrow-drop {
                    transform: rotate(-45deg) scale(1.2);
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        border-radius: 4px;

        opacity: 0;
        pointer-events: none;
        transition: var(--trans);
    }

    &__item {
        padding: 6px 4px;
        @include text-size-10;
        color: var(--black);
        transition: var(--trans);
        cursor: pointer;

        &:first-child {
            padding-top: 2px;
        }

        &:last-child {
            padding-bottom: 2px;
        }

        @include bp($bp-1280) {
            &:hover {
                background-color: var(--White-background);
            }
        }
    }

    &__name {
        display: block;
    }

    &--filter {

        .drop-box-selector__result {
            gap: 4px;
            @include text-size-10;
            color: var(--black);
        }

        .drop-box-selector__list {
            min-width: 98px;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            z-index: 10;
            background: rgba(255, 255, 255, 0.70);
        }
    }

    &--base {
        .drop-box-selector__result {
            padding: 3px 0;
            border-bottom: 1px solid var(--Strokes-new);
        }

        .drop-box-selector__list {
            padding-left: 16px;
            margin-top: 14px;
            background: var(--White-background);
            display: none;
            flex-direction: column;
        }

        .drop-box-selector__item {
            width: fit-content;
            @include text-size-12;
            margin-bottom: var(--space-3xs-desc);
            position: relative;
            display: inline-block;
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: var(--black);

                position: absolute;
                bottom: -1px;
                left: 0;
                opacity: 0;
                transition: var(--trans);
            }

            @include bp($bp-1280) {
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
            }


            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.open {
        .drop-box-selector__list {
            opacity: 1;
            pointer-events: visible;
        }

        &.drop-box-selector--base {
            .drop-box-selector__list {
                display: flex;
            }
        }

        .arrow-drop {
            span {
                &:nth-child(1) {
                    transform: rotate(-90deg);
                }
        
                &:nth-child(2) {
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.error-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__content {
        max-width: 457px;
        text-align: center;

        h1 {
            margin-bottom: var(--space-2xs-desc);
        }

        a {
            text-decoration: underline;
        }
    }
}

.counter {
    display: flex;
    height: 18px;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 100%;
        position: relative;
        cursor: pointer;

        &::after,  &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 50%;
            width: 6px;
            height: 1px;
            background: var(--black);
            transition: var(--trans);
        }

        &::after {
            transform: translate3d(-50%,-50%,0) rotate(0deg);
        }

        &::before {
            transform: translate3d(-50%,-50%,0) rotate(90deg);
        }

        &--down {
            &::before {
                display: none;
            }
        }

        &.disable {
            &::after {
                background: var(--Stroke-bk-30);
                pointer-events: none;
            }
        }
    }

    &__input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 100%;
        padding: 0;

        @include text-size-12;
        color: var(--black);
        text-align: center;

        border: none;
        outline: 0;
        margin: 0;
        transition: var(--trans);
        box-shadow: none;
        overflow: auto;
        resize: none;
        background: transparent;
    }
}

.sign-in-alert {
    @include text-size-16;
    a {
        text-decoration: underline;
    }
}

.thanks-page {
    h3 {
        @include text-size-16;
        margin-bottom: var(--space-s-desc);
    }

    a {
        text-decoration: underline;
    }

    &__alert {
        display: inline-block;
        max-width: 504px;
        background-color: var(--White-background);
        padding: 4px 8px;

        span {
            display: block;
            margin-bottom: 4px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.data-time {
    &__result {
        display: inline-block;
        padding: 4px;
        border-radius: 4px;
        background: var(--White-background);
        margin-bottom: var(--space-2xs-desc);
    }

    &__list {
        display: flex;
        gap: 8px;
        margin-bottom: var(--space-2xs-desc);

        &-item {
            width: 44px;
            padding: 2px 4px;
            border-radius: 4px;
            border: 0.5px solid var(--Stroke-bk-30);
            background: var(--White-background);

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            text-transform: uppercase;
            transition: var(--trans);
            cursor: pointer;

            &.active {
                border-color: var(--black);
            }
        }
    }

    &__datapicker {
        position: relative;
        width: 80px;

        label {
            width: 100%;
        }

        .icon-sym {
            position: absolute;
            cursor: pointer;
            right: 0;
            top: 0;

            width: 18px;
            height: 18px;
        }

    }
}



.order-no-pay {
    &__error {
        margin-bottom: var(--space-xs-desc);
        @include text-size-16;
        color: var(--Error);
    }

    &__text {
       padding: 4px 8px;
       background-color: var(--White-background); 
       @include text-size-12;
    }

    a {
        text-decoration: underline;
    }
}















.index-pages-header {
    font-weight: 400;
    margin-bottom: 20px;
}


.index-pages-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 30px;

    & > li {
        margin-bottom: 12px;
        @include text-h3;
        position: relative;
        font-weight: 300;

        &::after {
            content: '';
            display: block;
            width: 0%;
            height: 1px;
            background: var(--black);

            position: absolute;
            bottom: -2px;
            left: 0;
            transition: var(--trans);
        }

        @include bp($bp-1280) {
            &:hover {
                &::after {
                    width: 20%;
                }
            }
        }
    }
}

.custom-slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate3d(0,-50%,0);
    cursor: pointer;
    z-index: 2;
    opacity: 0.5;
    transition: var(--trans);

    @include bp($bp-1280) {
        &:hover {
            opacity: 1;
        }
    }

    &.swiper-button-disabled {
        opacity: 0 !important;
        pointer-events: none;
    }

    .icon-sym {
        width: 35px;
        height: 35px;
        fill: var(--Stroke-bk-30);
        transition: var(--trans);
    }

    &--next {
        right: 0;
    }

    &--prev {
        left: 0;
        transform: translate3d(0,-50%,0) rotate(180deg);
    }

    @include maxBp($bp-768) {
        display: none;
    }
}
